{{#each posts as |post|}}
<article class="post">
  <div class="title">
    <a href="/post/{{post.id}}">{{post.title}}</a>
  </div>
  <div class="meta">
    Posted by {{post.user.username}} on {{format_date post.createdAt}}
  </div>
</article>
{{/each}}
